# Files
.dockerignore
**/.gitignore
.env.*
**/.envrc
Dockerfile
Makefile
**/*.md
.DS_Store
.terraform-version

# Docker compose is only used for local testing.
compose.yaml 

# Folders
.git/
.github/
terraform
.aws
